* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid grey 1px;
    align-items: center;
    position:sticky;
    top:0;
    background-color:white;
    z-index: 1;
}

.navbar__title__heading {
    color: #6D27D2;

}

.navbar__search {
    padding: 20px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__search__input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__search__input:focus {
    outline: none;
}

.navbar__icon {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__menubar{
    display:none;
}
/* My Learning popup */
.mylearning{
    position:relative;
    cursor: pointer;
}
.mylearning__popup
{
position:absolute;
border: solid black 1px;
background-color: orange;
width:100px;
top:150%;
padding:10px;
right:0;
display:none;
}
.mylearning:hover .mylearning__popup{
    display:block;
}

.categories {
    display: flex;
    gap: 20px;
    border: none;
    border-bottom: grey solid 1px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}


.categories p {
    background-color: #6D27D2;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor:pointer;
    border:solid black 1px;
}
.categories p:hover{
    transition:1s;
    background-color: transparent;
    color:black;
    border:solid black 1px;
}
.saleimage{
    position:relative;
}
.saleimage img {
    width: 100%;
}
.saleimage__offer{
    width:25%;
    border:solid black 1px;
    background-color:orange;
    border-radius:50px;
    padding:2%;
    position:absolute;
    top:20%;
    left:10px;
    animation-name:zoom;
    animation-duration: 2s;
    opacity:0;
    animation-fill-mode:forwards;
}
@keyframes zoom{
    0%{
        transform:scale(0);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

.recommended {
    padding: 10px;
}

.recommended__card,
.popular__courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.recommended__course {
   flex-grow: 1;
   flex-basis: 20%;
   margin:5px;

}

.recommended__course img {
    width: 100%;
    height: 50%;

}

.topics {
    padding: 10px;
}

.topics__course {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__course p {
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.footer {
    padding:20px;
    background-color:black;
    color:white;
}

.footer__foot1 {
    display: flex;
    gap:10px;
}
.footer__foot1 p{
    margin:10px;
}
.footer__foot2{
    margin:10px;
    align-items: center;
    display:flex;
    justify-content: space-between;
}
/* Media Queries */
@media screen and (max-width:800px)
{
    body{
        font-size:10px;
    }
}
@media screen and (max-width:600px)
{
    .recommended__course{
        flex-basis:40%;
    }
    .categories{
        display:none;
    }
    .navbar__icon,.navbar__search{
        display:none;
    }
    .navbar__menubar{
        display:block;
    }
}